
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.site-title {
  padding-left: 10px;
}

.centered {
  font-size: 24pt;
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #d4e9e7;
}

body {
  background-color: #aad4cf;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  hyphens: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  line-height: 1.4;
  margin: 20px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  font-size: 24pt;
  border-left: 2px;
  border-style: solid black;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  text-align: left;
}

img {
  width:auto;
  float: left;
  margin: 5px;
}

#my-image {
  padding-left: 10px;
  padding-right: 20PX;
}

.intro p {
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;
}

.facts {
  text-align: left;
  margin: 10px;
}

.bottom {
  text-align: left;
  margin: 50px;
  border: 3px #000;
  border-style: double;
  margin: 40px;
  margin-top: 10px;
  justify-content: left;
}

ul li a {
  display: inline;
}

.contact {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.radioButton {

  margin-left: 10px;
  display: inline-block;
}

#Yes {
  margin-left: -40px;
}

.submit {
  background-color: transparent;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

textarea {
  width: auto;
  resize: none;
}

#name {
  width: 850px;
}

#email {
  width: 850px;
}

#message {
  width: 850px;
  height: 150px;
}

footer {
  margin-right: 12px;
  display: grid;
  justify-content: right;
  align-content: right;
}
