
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
/* add open sans google font  */

body {
  font-family: 'Open Sans', sans-serif;
}
header{
  background-color: #222222;
  display: flex;
  width: 100%;
  justify-content: center;
}
li {
  width: 100%;
}
ul{
  display: flex;
  flex-wrap: wrap;
}
/* searchbar should be flex too  */


.hero-section-home {
    background-image: url("https://brya0127.github.io/final-project/images/main-banner.jpg");
    background-position: 50%;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 60px;
}

.banner-overlay {
  background-color: #00000070;
}

.banner-overlay h1 {
  color: white;
  font-size: 125px;
}

.banner-overlay h1 {
  color: white;
  margin: 20px;
}

.banner-overlay p {
  color: white;
}

.connect {
  color: black;
  background-color: #c68d00;
  font-size: 2em;
  padding: 1em;
  border: none;
  margin: 20px;
}

.about {
  object-fit: contain;
}

.about img {
  width: 100%;
  padding: 2em;
}

.about-text {
  padding: 2em;
}

h1 h2 h3 {
  font-weight: bold;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 24pt;
}

.images {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.servcont {
  max-width: 100%;
  margin: 0, auto;
}

.service {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: ;
  align-content: center;
}

.servbut {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 60px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}

.servbut a:link, header nav ul a:visited {
  color: #ffffff;
  text-decoration: none;
}

.about {
  background-color: #ffe6ac;
}

.servcont {
  padding: 2em;
}

.servcont p {
  margin-top: 0.5em;
}

.servbut {
  padding: 1em;
}

.transform {
  background-color: #ffe6ac;
  margin: 1em;
  object-fit: cover;
}

.transform img {
  width: 100%;
}

.marketing {
  background-color: #ffe6ac;
  margin: 1em;
}

.marketing img {
  width: 100%;
}

.vidpro {
  background-color: #ffe6ac;
  margin: 1em;
}

.vidpro img {
  width: 100%;
}

.webdev {
  background-color: #ffe6ac;
  margin: 1em;
}

.webdev img {
  width: 100%;
}

.print {
  background-color: #ffe6ac;
  margin: 1em;
}

.print img {
  width: 100%;
}

.vision {
  background-image: url(../images/vision.jpg);
  background-repeat: no-repeat;
  color: white;
  background-position: center;
  background-size: cover;
  /* align-content: center;
  justify-content: center; */
}
.vision-text {
  padding: 3em;
}
.vision-text p {
  padding: 1em;
}
.learn {
  color: white;
  background-color: #142338;
  border: 2px solid #c68d00;
  padding: 15px 60px;
  
}

.team {
  display: flex;
}